/* Basic Style */
@media (max-width:768px) {

    .main-display { text-align: center;
    }

}

:root {
    --main-bg:#f8f8f8;
    --main-text: #333333;
    --btn-color: #888888;
    --btn-hover: #3a3a3a;
    --list-border: #eeeeee;
    --bord-task: #dddddd;
    --task-bg: #ffffff;
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
    font-family: Lato, sans-serif;
}
li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid var(--list-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    list-style:none;
}
button {
    background: none;
    border: 0px;
    color: var(--btn-color);
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
button:hover {
    color:var(--btn-hover);
}
input, button {
    outline:none;
}
.main-display {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
    font-family: fantasy, cursive;
}
.main-display__picture {
    width: 100%;
}
.checklist {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}
.add-list {
    display: flex;
}
.todo-list, 
.completed-tasks {
    margin:0;
    padding: 0px;
} 
/* Heading */
h3,
.add-task {
    color: var(--main-text);
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid var(--main-text);
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
.user-task {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid var(--bord-task);
    background: var(--task-bg);
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: var(--btn-color);
}
.user-task:focus {
    color: var(--main-text);
}
/* New Task */
.add-task {
    display: block;
    margin: 0 0 20px;
}
.new-task {
    width: 318px;
}
/* Task list */
.todo-list__box {
    margin: 0 10px;
}
.todo-list__task,
.task-name, 
.done-task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}
.btn__remove {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.btn__remove:hover {
    transform: rotateZ(0);
}
/* Completed */
.done-task {
    text-decoration: line-through;
    color: var(--btn-color);
}
/* Edit Task */
.user-task {
    display: none;
    width: 226px;
}
.todo-list__mark {
    display: inline-block;
    width: 224px
}
.task-name {
    display: none;
}